body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: white;
  color: #818385;
  align-items: center;
  box-shadow: 5px 5px 20px #a1782c; /* Optional: Add a box shadow for a card-like appearance */

}

nav ul {
  list-style-type: none;
  margin: 0px;
  display: flex;
  align-items: center;
}

h1{
  color: #818385;
  /* text-shadow: 2px 2px 8px #a1782c ; */
}

p {
  font-size:  20px;
}

nav li:last-child {
  margin-right: 50px; /* Remove margin for the last item to avoid extra spacing */
}

nav li a {
  color: #818385;
  text-decoration: none;
  padding: 10px 20px;  /* Added padding for larger clickable area and better appearance */
  border-radius: 5px;  /* Optional: Adds rounded corners */
  transition: background-color 0.3s;  /* Optional: Smooth transition effect */
}

nav li a:hover {
  background-color: rgba(255, 255, 255, 0.1);  /* Slight highlight on hover */
}

nav li a:visited {
  color: #a1782c;
}

nav h3 {
  flex: 0 0 auto;
  margin-right: 1em;
  color: #818385;
}

header, section, footer {
  padding: 2em;
  text-align: center;
}

footer {
  background-color: #818385;
  /* margin-top: 300px; */
}

header#home {
  padding-top: 100px; 
}

header h1{
  color: #818385;
}
html {
  scroll-behavior: smooth;
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 80px;
  width: 300px; /* Adjust the width as needed */
  margin-right: 20px; /* Add spacing between the logo and text */
} 

.common-container {
  font-size: large;
  display: inline-block; /* Make the container inline-block */
  text-align: center; /* Reset text alignment inside the container to left */
  padding: 20px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Optional: Add a border for visual separation */
  box-shadow: 5px 5px 20px #a1782c; /* Optional: Add a box shadow for a card-like appearance */
}


.welcomeimage {
  /* display: flex; */
  align-items: center;
}

.welcomeimage img {
  height: 250px;
  width: 500px; /* Adjust the width as needed */
  margin-right: 20px; /* Add spacing between the logo and text */
} 

.whatsapp-link {
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  right: 20px; /* Adjust the distance from the right as needed */
  color: #25D366;
  padding: 10px 20px;
  text-decoration: none;
  z-index: 1000; /* Ensure it's above other elements */
}

