/* ImageSlider.css */

.imageslider {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px; /* Set a maximum width for the slider */
  height: auto; /* Set height to auto to maintain aspect ratio */
  transition: transform 0.5s ease;
}

.slider-image {
  width: 100%;
  height: auto;
  object-fit: contain; /* Ensure the entire image is visible */
}

/* .prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
} */

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
  .slider-container {
    max-width: 100%;
    height: auto; /* Ensure the height adjusts based on the aspect ratio */
  }
}

@media (max-width: 480px) {
  .slider-container {
    max-width: 100%;
    height: auto; /* Ensure the height adjusts based on the aspect ratio */
  }
}